<div class="container">
    <div class="row justify-content-start">
      <div class="col-6">
        <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="valera@maail.ru" ngModel>
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1"  value="1" ngModel>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            
        </form>
        <hr>
        <p><button class="btn btn-primary" (click)="test()">test</button></p>
      </div>
    </div>
</div>
